<h2>Board Members</h2>

<img src="../assets/images/rosemary_vance.jpg" alt="Rosemary Vance, Executive Director" style="max-width: 120px; height:auto">
<h4>Rosemary Vance, Executive Director</h4>
<p>Rosemary Vance is a native of Glendale, Kentucky. She received her undergraduate degree in English from the University of Louisville, and her Juris Doctor degree from the University of Kentucky. Rosemary is currently employed as a Staff Attorney for the Administrative Office of the Courts, and works with Hon. Darren Peckler, Circuit Judge for Boyle and Mercer Counties.
Rosemary has two sons, John Christopher and Michael. John is a graduate student at the University of Louisville. He and his wife Annabelle have a son. Michael is a graduate from the University of Kentucky. In addition to her duties as Executive Director for Children of the Americas, Inc., Rosemary serves as the organization’s Team Coordinator; she has been a volunteer with the program since 1996.</p>
<br>
<hr>
<br>
<img src="../assets/images/jennifer_christmann.jpg" alt="Jennifer Christmann, President" style="max-width: 120px; height:auto">
<h4>Jennifer Christmann, President</h4>
<p>Jennifer grew up in Venezuela and has had the opportunity to travel and live in various places until she landed in Lexington. She works at the University of KY assisting the healthcare system in building the new state of the art patient care facility. Jennifer has an undergraduate degree from Emory University and a Masters in Health Services Administration from the University of Wisconsin-Madison. Jennifer serves as the Interpreter Coordinator for COTA. </p>
<br>
<hr>
<br>
<img src="../assets/images/jody_greenlee.jpg" alt="Jody Greenlee, Vice President" style="max-width: 120px; height:auto">
<h4>Jody Greenlee, Vice President</h4>
<p>Green71957@aol.com<br>Profession: Pediatric Nurse<br>
Jody Greenlee has resided in Lexington, KY since 1978, when she began the BSN program at The University of Kentucky College of Allied Health.  Introduced to Children of the Americas as a foster parent, Jody and her husband Tom took their first COTA stateside patient in February of 2000. Following Edson’s successful cleft palate and lip repair and subsequent discharge to Guatemala, Jody joined the COTA board as Health Care Coordinator for the children brought to the U.S. for donated surgery. In 2002 Jody was elected to the board as President, and as of April 2009, serves as vice-president.
 She and her husband have three adult children.</p>
<br>
<hr>
<br>
<img src="../assets/images/susan_duracha.jpg" alt="Susan Duracha, Secretary" style="max-width: 120px; height:auto">
<h4>Susan Duracha, Secretary</h4>
<p>Susan Durachta is originally from Evansville, Indiana and has been a resident of Lexington since 2009 when she relocated from Indianapolis, Indiana to take a position with UK HealthCare. She received her undergraduate degree in Marketing from University of Southern Indiana, and her Master of Science in Health Administration from the University of Evansville.  Sue is currently employed as a Director, Ambulatory Clinical Operations for UK HealthCare and has one daughter in middle school.</p>
<br>
<hr>
<br>
<img src="../assets/images/robert_montgomery.png" alt="Robert Montgomery, Board Treasurer" style="max-width: 120px; height:auto">
<h4>Robert Montgomery, Board Treasurer</h4>
<p>RMontgomery@shrinenet.org<br>
 Chief Financial Officer, Shriners Hospital<br>
Born in Maysville, KY, Robert is a lifelong resident of Kentucky. He has two sons, ages 21 and 24. After earning his BA degree from Transylvania University in Lexington, Robert went onto Morehead State University where he earned an MBA.
Robert has twenty years of experience in healthcare finance. He is currently the Director of Finance at Shriners Hospitals for Children in Lexington.<br>
Contact information:<br>
(859) 268-5634</p>
<br>
<hr>
<br>
<img src="../assets/images/diana_howlett.jpg" alt="Diana Howlett" style="max-width: 120px; height:auto">
<h4>Diana Howlett</h4>
<p>jimandi3@bellsouth.net<br>
Profession:  Retired<br>
Diana Howlett is a retired teacher from Jefferson County Public Schools.  She graduated from the University of Louisville with a Master’s degree in Education.  She is married to James Ashton.  He is retired from Prarie Farms and is currently employed by JCPS.  Diana has one son, Joshua Todd.  He is an employee of Eli Lilly in Indianapolis, and he and his wife Sally live in Ninevah, Indiana.<br>
In addition to Diana’s volunteer work with Children of the Americas, she volunteers with Supplies Over Seas and Jefferson County Memorial Forest.  Any other free time is spent gardening and traveling with her husband.
Diana was born in Glendale, Kentucky and currently resides in Fairdale, Ky.</p>
<br>
<hr>
<br>
<img src="../assets/images/frank_bowen.jpg" alt="Frank Bowen, MD" style="max-width: 120px; height:auto">
<h4>Frank Bowen, MD</h4>
<p>Departmental Title:<br>
Director, Thoracic Aortic Surgery and Thoracic Oncology<br>
Associate Director, Cooper Aortic Center<br>
Thoracic Surgical Director, Cooper Cancer Institute Lung Cancer Center<br>
Academic Title:<br>
Assistant Professor of Surgery<br>
Medical Student Mentor/Supervisor Cardiothoracic Surgery, Cooper University Hospital</p>
<br>
<hr>
<br>
<img src="../assets/images/warren_brandwine.jpg" alt="Warren Brandwine, DO Medical Director" style="max-width: 120px; height:auto">
<h4>Warren Brandwine, DO Medical Director</h4>
<p>Dr. Brandwine is a graduate of Michigan State University, did his professional training in Chicago, Ill. at The Midwestern University, College of Osteopathic Medicine, and served his internship in Tulsa, Oklahoma. He then moved to Kansas City for residency at The University of Kansas Medical Center. Dr. Brandwine is board certified by The American Board of Obstetrics and Gynecology. He is Chairman of the Department of Obstetrics and Gynecology at West Jersey Hospital in Voorhees, N.J.<br>
Dr. Brandwine returned to school and earned a Masters Degree in Biomedical Ethics from The University of Pennsylvania. He is residency director for the affiliate hospital for Thomas Jefferson University.<br>
Warren and Beverly live in Cherry Hill, N.J.,have four sons, and two grandchildren. Warren is on the board of Planned Parenthood and a pilot for Angel Flight and Beverly is on the board of The Jewish Geriatric Home.</p>
<br>
<hr>
<br>
<img src="../assets/images/carrol_cottrill.jpg" alt="Carol Cottrill, MD" style="max-width: 120px; height:auto">
<h4>Carol Cottrill, MD</h4>
<p>drcmc@kyhearts.com<br>
Profession: cardiologist<br>
Dr. Carol Cottrill is a tenured professor at UKMC where she has taught since 1973, while maintaining a full-time pediatric practice. Carol has been a Holy Spirit parishoner for 27 years. She is the mother of eight grown children.She and her husband Tom have also served as foster parents to dozens of children. She currently serves as president of Children of the Americas.Last year Carol received The Lumen Chrisit Award, which is the highest award given by The Catholic Extension Society.<br>
Central Baptist honored Carol with their 2008 Woman of the Year Award. Carol is a Lector and Eucharistic minister at the Holy Spirit Parish. Carol and her husband, Tom Rolfes, endowed the Chair in Catholic Studies at The University of Kentucky.</p>
<br>
<hr>
<br>
<img src="../assets/images/sandi_daukas.jpg" alt="Sandi Daukas, CRNA" style="max-width: 120px; height:auto">
<h4>Sandi Daukas, CRNA</h4>
<p>Sandi earned her BSN in 1977 from Murray State University, Murray, KY and CRNA in 1989 from Washington University, St. Louis, MO.  She has worked many nursing and anesthesia positions throughout her career in Illinois and Kentucky. Sandi is currently employed by Kentucky Anesthesia Group in Georgetown, KY. and is engaged to Michael Daukas. Between them they have 6 grown children and 6 grandchildren. All three of Sandi’s sons have served in the military; two of them currently.  She administers anesthesia, helps organize, document and procure anesthesia and surgical supplies for COTA as well as serving on the board.  Her involvement with COTA began with the 2006  surgical mission to Guatemala.</p>
<br>
<hr>
<br>
<img src="../assets/images/kit_montgomery.jpg" alt="Kit Montgomery, MD" style="max-width: 120px; height:auto">
<h4>Kit Montgomery, MD</h4>
<p>kmontgo@email.uky.edu<br>
Kit has resided in Lexington since 1978. He has a Medical Degree and Masters of Science from the University of Kentucky and currently serves as the Director of Anesthesia at the Lexington Shriners Hospital. As a tenured professor at UK, he remains active in teaching and serves on the College of Medicine curriculum committee. Kit keeps busy with church activities and recently joined a band that has raised funds for various community organizations. He first travelled with  COTA in 2006 and has served on the Board as Director of Anesthesia since 2008. He and his wife Diane have three children.</p>
<br>
<hr>
<br>
<img src="../assets/images/mike_branstetter.jpg" alt="Mike Branstetter, R Ph" style="max-width: 120px; height:auto">
<h4>Mike Branstetter, R Ph</h4>
<p>Mike, with his wife Laurie (APRN), resides in Glasgow, KY.  They have 3 children (John, Raegan, and Austin), Makenzie and Brylee are their 2 granddaughters.  Mike and Laurie have been COTA volunteers since the mission to Huehuetenango in 2005.  Mike is a graduate of Auburn University School of Pharmacy and has recently retired as owner of a community retail pharmacy since 1982.  Mike feels it has been a great privilege and blessing working with the volunteers of COTA and the people of Guatemala; especially, as foster parents to Maylin in 2010. </p>
<br>
<hr>
<br>
<img src="../assets/images/robin_gibbs.jpg" alt="Robin Gibbs, RN" style="max-width: 120px; height:auto">
<h4>Robin Gibbs, RN</h4>
<p>Robin is employed as an acute care nurse practitioner in the Cardiothoracic Surgical Intensive Care Unit (CT – SICU), at the Hospital of the University of Pennsylvania (HUP), where she has worked for 20 years. She has a Bachelor’s Degree in Nursing from Fairfield University and a Master’s Degree from the University of Pennsylvania. Her first COTA trip was in 2005 to Tiquisate, where she worked in the post anesthesia care unit on the trips. Robin joined the board in 2011.</p>
<br>
<hr>
<br>
<img src="../assets/images/roger_teague.jpg" alt="Roger Teague" style="max-width: 120px; height:auto">
<h4>Roger Teague</h4>
<p>Roger is a retired business owner. He was born in Knoxville, TN, grew up in Chicago, IL, and graduated in 1976 from the University of Kentucky School of Architecture. He currently resides in Lexington. He has two sons, Brian, a post-doctoral student at MIT, and Kevin, a Naval Academy graduate currently flying helicopter search and rescue, based in California. He first traveled with Children of the Americas, Inc. to Salama in 2011. His role on the team is transportation/logistics.</p>
<br>
<hr>
<br>
<h2>Advisory Board Members</h2>
<br>
<hr>
<br>
<img src="../assets/images/james_liau.jpg" alt="Dr. James Liau" style="max-width: 120px; height:auto">
<h4>Dr. James Liau</h4>
<p>Dr. Liau graduated from the University of California at Berkley with a BA in Interdisciplinary Studies and completed his medical degree at the University of Kentucky college of Medicine. James graduated from the University of Kentucky’s Plastic Surgery program in June 2009, and was the UNC Division of Plastic and Reconstructive Surgery Craniofacial Fellow from July 2009 to June 2010. Dr. Liau is presently Assistant Professor in the Division of Plastic Surgery at the University of Kentucky College of Medicine in Lexington, Kentucky.<br>
    James has traveled with COTA since 2011.
</p>
<br>
<hr>
<br>
<img src="../assets/images/henry_elam.jpg" alt="Henry Elam" style="max-width: 120px; height:auto">
<h4> Henry Elam</h4>
<p>Henry is a lifelong resident of Kentucky.  He grew up in Lexington and attended college at Union College in Barbourville, KY and the University of Kentucky, where he studied agriculture.  He is retired from the Coca Cola company.  He has one daughter and currently resides in Georgetown, Ky.<br><br> 
Henry is one of the most tenured members of the board of directors.  He has been volunteering with COTA for 20 years, and has made more than 60 trips to Guatemala.  He currently serves the board as logistics coordinator.  He has also served as a volunteer at the American Red Cross and Georgetown/Scott County Hispanic Outreach Program, and currently volunteers at the Hope Center in Lexington.</p>
<br>
<hr>
<br>
<img src="../assets/images/mike_mcnevin.jpg" alt="Mike McNevin, MD" style="max-width: 120px; height:auto">
<h4>Mike McNevin, MD</h4>
<p>Mike and his wife Wendy reside in Denver, Colorado, where he is the director of anesthesia for the Outpatient Surgery Center.  Mike joined COTA in 2006 and serves as an advisory board member.</p>
<br>
<hr>
<br>