<section class="hero-content">
    <h1 class="hero-title">{{ landing.heroTitle }}</h1>
</section>

<section class="mission container clearfix">
    <div class="point column third">
        <span class="ion"></span>
        <h5 class="point-title">A Critical Mission</h5>
        <p class="point-description">COTA enhances the health and wellbeing of underserved women and children in developing countries through international collaboration.</p>
    </div>
    <div class="point column third">
        <span class="ion"></span>
        <h5 class="point-title">Saving Lives</h5>
        <p class="point-description">We help where the medical need is greatest in rural Guatemala.</p>
    </div>
    <div class="point column third">
        <span class="ion"></span>
        <h5 class="point-title">Bringing Hope</h5>
        <p class="point-description"> Volunteers changing lives in the most important of ways; restoring health to rural Guatemalan women and children during our annual surgical/medical/dental trips.</p>
    </div>
</section>